<div class="modal fade" id="optionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Product Option</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Option Name</label>
                    <input type="text" class="form-control" x-model="currentOption.optionName">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" x-text="selectedCurrency"></span>
                        </div>
                        <input type="number" class="form-control" x-model="currentOption.price" step="0.01">
                    </div>
                </div>
                <div class="form-group">
                    <label>Image (Optional)</label>
                    <input type="file" class="form-control" @change="handleOptionImage" accept="image/*">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="addProductOption">Add Option</button>
            </div>
        </div>
    </div>
</div>